<% layout("layout/boilerplate")%>
<h1>Hello people of this world</h1>
<button id="increment">+1</button>
<form id="message-form">
    <input placeholder="Message..." type="text" />
    
    <button>Send</button>
    <a href="/auth/login">Login</a>
<a href="/auth/register">register</a>
</form>




